name: Generate PNG images and STL files from 3D models

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ '*' ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Will build everyday at 4:30 and 16:30
    - cron:  '30 4,16 * * *'

jobs:
  generate-branch-name:
    runs-on: ubuntu-latest
    outputs:
      BRANCH_NAME: ${{ steps.extract_branch.outputs.BRANCH_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Extract branch name
        shell: bash
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF#refs/heads/}" | sed -e 's#/#-#g')
          echo "BRANCH_NAME=${BRANCH_NAME}" >> "$GITHUB_ENV"
          echo "BRANCH_NAME=${BRANCH_NAME}" >> "$GITHUB_OUTPUT"
        id: extract_branch

  generate-binaries:
    needs: generate-branch-name
    runs-on: ubuntu-latest
    env:
      GH_CREDENTIALS_PSW: ${{ secrets.GH_CREDENTIALS_PSW }}
      GIT_URL: echo ${env.GIT_URL}
      BRANCH_NAME: ${{ needs.generate-branch-name.outputs.BRANCH_NAME }}
    container:
      image: gounthar/openscad:${{ needs.generate-branch-name.outputs.BRANCH_NAME }}
      volumes:
        - ${{ github.workspace }}:/home/openscad/projects/
    steps:
      - name: generate-binaries
        shell: bash
        run: |
          echo $BRANCH_NAME
          cd /home/openscad/projects/ && generate-binaries.sh
